html {
  font-size: 18px;
}

body{
  margin: 0;
}

h1 {
  padding: 0;
  height: 80px;
  margin: 0;
  background-color: rgb(75, 2, 2);
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #adadad;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  background-image: url('./bgpic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.overlay {
  background-color: rgba(102, 1, 1, 0.37);
  padding: 0 17% 10% 17%;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}